patch_size: 192 # in SRCNN they've used 33x33 (overlapping) in SRGAN 96x96, we go even further
step_size: 192 #also with such small patch sizes and overlapping windows we've got enormous amount of images.
#since cnns are translation invariant these overlaps seems not to make much sense.
data_root: data
prefix: DIV2K_train_ # based on this paths are created
downscaling_types: [bicubic] # based on this paths are created
scaling_factors: [2] # based on this paths are created
new_suffix: _patches # based on this paths are created

perform_bicubic_interpolation: False

extension: png