architecture: edsr
batch_size: 64
num_workers_train: 0
num_workers_valid: 0

shuffle: True
patches: _patches192

use_gan: True
model_checkpoint:

dataset_parameters:
  data_path: C:\data
  bicubic_down: True
  bicubic_up: False
  extension: png
  scaling_factors: [4]

model_parameters:
  rgb_range: 1
  scaling_factors: [4]
  n_resblocks: 8
  n_feats: 64
  res_scale: 1
  augment_train: false
  loss: L1
  perceptual_loss: false